ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    }
.container {
        border-radius: 5px;
        background-color: #646060;
        padding: 20px;
      }
body{
    text-align: center;
}

li {
    float: left;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

li a:hover {
    background-color: #111;
    }
    .active {
    background-color: #a19b9b;
    }

h2 {
    color:red;
}

* {
    box-sizing: border-box;
  }

p {
    text-align: center;
}

footer {
    color:white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
